# PostgreSQL (TimescaleDB)
POSTGRES_USER=historian
POSTGRES_PASSWORD=historianpassword
POSTGRES_DB=uns_historian
POSTGRES_PORT=5434

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@uns-historian.io
PGADMIN_DEFAULT_PASSWORD=pgadminpassword
PGADMIN_PORT=5051
